In [2]:
# Outstanding user balances. Equivalent to "Loans" > "Overdue Only" in MyTurn, but grouped by
# user, which you can't do in MyTurn at the moment.
#
# Note this is separate from balances on account.
# TODO: Combine with balances on account for full view of outstanding user loans.
import pandas as pd

loans = pd.read_csv('data/output/loans.csv')

late_fees = loans.groupby('Membership ID').sum()

late_fees[late_fees['Late Fees To Date'] > 0].sort_values(by='Late Fees To Date', ascending=False)

,index,Item ID,Checked Out,Checked In,Due Date,Late Fees To Date,Renewals
Membership ID,,,,,,,
3292,1377,168118,2021-08-28 11:35:002021-08-28 11:35:002021-08-...,2021-08-28 11:43:00,2021-09-042021-09-042021-09-042021-09-042021-0...,2359.8,0
4180,251053,504531,2023-01-22 18:20:002023-01-22 18:20:002023-01-...,2023-04-04 19:03:002023-01-22 18:20:002022-12-...,2023-01-292023-01-292023-01-182023-01-182023-0...,2125.4,4
2912,28553,151653,2020-07-25 11:58:002020-09-19 11:33:002020-09-...,2020-09-26 12:19:002020-09-26 12:04:002020-09-...,2020-12-192020-12-192020-12-192020-12-192020-1...,2039.4,81
3549,33467,231386,2022-02-09 20:47:002022-02-09 20:47:002022-02-...,2022-02-09 19:13:002022-02-09 19:13:002022-02-...,2022-02-162022-02-162022-02-162022-02-162022-0...,1692.0,0
4106,106920,318014,2022-11-06 17:36:002022-11-08 20:38:002022-11-...,2022-10-30 17:54:002022-10-30 17:54:002022-10-...,2022-11-152022-11-152022-11-162022-11-162022-1...,1346.6,14
...,...,...,...,...,...,...,...
5277,4848,18724,2023-12-16 10:16:002023-12-27 10:38:00,0,2024-01-112024-01-11,3.0,1
4020,23062,51231,2024-01-14 12:46:002024-01-14 12:46:002022-09-...,2022-10-05 18:04:002023-12-18 11:59:002023-12-...,2024-01-282024-01-282022-10-052023-12-242024-0...,1.6,0
5288,4651,18331,2024-01-07 19:00:002024-01-07 19:00:002023-12-...,2024-01-07 18:55:00,2024-01-212024-01-212024-01-02,1.0,0
1627,42103,179458,2023-07-09 18:03:002023-07-09 18:03:002023-07-...,2023-07-15 11:52:002023-07-15 11:52:002023-07-...,2023-07-162023-07-162023-07-162023-07-222024-0...,0.6,2
5074,29065,43154,2023-12-27 18:25:002024-01-07 13:05:002023-12-...,2023-12-12 18:20:002023-12-27 18:05:002023-12-...,2024-01-242024-01-242023-12-242023-12-312023-1...,0.4,1